<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li style="text-align: center;"><h5>NFC</h5></li>
        <li class="sub-header" style="padding-left: 20px;"><strong>NFC North</strong>
            <ul class="nav nav-sidebar">
                <li><a ng-click="displayTeam($event)">Chicago Bears</a></li>
                <li><a ng-click="displayTeam($event)">Detroit Lions</a></li>
                <li><a ng-click="displayTeam($event)">Green Bay Packers</a></li>
                <li><a ng-click="displayTeam($event)">Minnesota Vikings</a></li>
            </ul>
        </li>
        <li class="sub-header" style="padding-left: 20px;"><strong>NFC South</strong>
            <ul class="nav nav-sidebar">
                <li><a ng-click="displayTeam($event)">Atlanta Falcons</a></li>
                <li><a ng-click="displayTeam($event)">New Orleans Saints</a></li>
                <li><a ng-click="displayTeam($event)">Carolina Panthers</a></li>
                <li><a ng-click="displayTeam($event)">Tampa Bay Bucaneers</a></li>
            </ul>
        </li>
        <li class="sub-header" style="padding-left: 20px;"><strong>NFC East</strong>
            <ul class="nav nav-sidebar">
                <li><a ng-click="displayTeam($event)">Dallas Cowboys</a></li>
                <li><a ng-click="displayTeam($event)">Washington Redskins</a></li>
                <li><a ng-click="displayTeam($event)">Philidelphia Eagles</a></li>
                <li><a ng-click="displayTeam($event)">Minnesota Vikings</a></li>
            </ul>
        </li>
        <li class="sub-header" style="padding-left: 20px;"><strong>NFC West</strong>
            <ul class="nav nav-sidebar">
                <li><a ng-click="displayTeam($event)">Seattle Seahawks</a></li>
                <li><a ng-click="displayTeam($event)">San Franscisco 49ers</a></li>
                <li><a ng-click="displayTeam($event)">Arizona Cardinals</a></li>
                <li><a ng-click="displayTeam($event)">St. Louis Rams</a></li>
            </ul>
        </li>
        <li style="text-align: center;"><h5>AFC</h5></li>
        <li class="sub-header" style="padding-left: 20px;"><strong>AFC North</strong>
            <ul class="nav nav-sidebar">
                <li><a ng-click="displayTeam($event)">Baltimore Ravens</a></li>
                <li><a ng-click="displayTeam($event)">Pittsburgh Steelers</a></li>
                <li><a ng-click="displayTeam($event)">Cleveland Browns</a></li>
                <li><a ng-click="displayTeam($event)">Cincinnati Bengals</a></li>
            </ul>
        </li>
        <li class="sub-header" style="padding-left: 20px;"><strong>AFC South</strong>
            <ul class="nav nav-sidebar">
                <li><a ng-click="displayTeam($event)">Indianapolis Colts</a></li>
                <li><a ng-click="displayTeam($event)">Houston Texans</a></li>
                <li><a ng-click="displayTeam($event)">Jacksonville Jaguars</a></li>
                <li><a ng-click="displayTeam($event)">Tennessee Titans</a></li>
            </ul>
        </li>
        <li class="sub-header" style="padding-left: 20px;"><strong>AFC East</strong>
            <ul class="nav nav-sidebar">
                <li><a ng-click="displayTeam($event)">New England Patriots</a></li>
                <li><a ng-click="displayTeam($event)">Miami Dolphins</a></li>
                <li><a ng-click="displayTeam($event)">Buffalo Bills</a></li>
                <li><a ng-click="displayTeam($event)">New York Jets</a></li>
            </ul>
        </li>
        <li class="sub-header" style="padding-left: 20px;"><strong>AFC West</strong>
            <ul class="nav nav-sidebar">
                <li><a ng-click="displayTeam($event)">Denver Broncos</a></li>
                <li><a ng-click="displayTeam($event)">Kansas City Chiefs</a></li>
                <li><a ng-click="displayTeam($event)">San Diego Chargers</a></li>
                <li><a ng-click="displayTeam($event)">Oakland Raiders</a></li>
            </ul>
        </li>
    </ul>
</div>
